.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;

  border-color: #d92222;
  background-color: #262626;

  aspect-ratio: 1/1;
  padding: 17px;
  border-radius: 30px;

  transition: all 0.3s;
}

.logo img {
  width: 106px;
}



body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100wh;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.general_text {
  text-decoration: none;
  color: #262626;
  font-family: Roboto;
  font-weight: 800;
  font-size: 27px;
  display: flex;
  flex-direction: column;
}
.main-header-content {
  display: flex;
  gap: 40px;
}

line {
  margin-top: 3px;
  border: #dde6ed solid 2px;
  width: 0px;
  visibility: hidden;
  transition: all 0.3s;
}





@media (pointer: fine) {
  @media (max-width: 864px) {
    .main-header-content {
      display: none;
    }
    .logo {
      border-radius: 70%;
    }
    .logo:hover {
      border-radius: 25%;
    }
  }
  .logo:hover {
    border-radius: 50%;
  }

  #golovna:hover {
    color: #d92222;
  }
  
  #golovna:hover > #line_golovna {
    width: 100%;
    border-color: #d92222;
    visibility: visible;
  }
  
  #produkt:hover {
    color: #d92222;
  }
  
  #produkt:hover > #line_produkt {
    width: 100%;
    border-color: #d92222;
    visibility: visible;
  }
  
  #poslugy:hover {
    color: #d92222;
  }
  
  #poslugy:hover > #line_poslugy {
    width: 100%;
    border-color: #d92222;
    visibility: visible;
  }
  
  #kontakty:hover {
    color: #d92222;
  }
  
  #kontakty:hover > #line_kontakty {
    width: 100%;
    border-color: #d92222;
    visibility: visible;
  }
}

@media (pointer: coarse) {
  @media (max-width: 864px) {
    .main-header-content {
      display: none;
    }
    .logo {
      border-radius: 50%;
    }
  }
}